.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
.activate{
  font-size: xx-large;
}
/* About Me  */
.portrait {
  position: relative;
  filter: grayscale(50%);
  width: 300px;
  border: 15px;
  margin: 20px;

}

.AboutMe{
  margin: 0px;
}

/* Portfolio */
.Websites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
}

.gif_1 {
  position: relative;
  width: 25%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gif_1_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.gif_1:hover .image {
  opacity: 0.5;
}

.gif_1:hover .gif_1_middle {
  opacity: 1;
}

.text {
  background-color: #7677d4;
  color: #3c4674;
  font-size: 25px;
  padding: 10px 20px;
  margin-left: 100px;
}

/* Contact */
.ContactMe{
  margin: 0px;
}

/* Resume */
.ResumeLink{
  margin: 0px;
}